<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311081909770-mjc4bpb6dfve4nts9ejls55jq1hd35nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311081909770-mjc4bpb6dfve4nts9ejls55jq1hd35nk</string>
	<key>API_KEY</key>
	<string>AIzaSyDuzcCpieIDRKAbtYfteg5hkiKS1Q3Ff5U</string>
	<key>GCM_SENDER_ID</key>
	<string>311081909770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marketapp</string>
	<key>PROJECT_ID</key>
	<string>marketapp-b344e</string>
	<key>STORAGE_BUCKET</key>
	<string>marketapp-b344e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311081909770:ios:3e083ebb29e19aff3969f3</string>
</dict>
</plist>